fastapi~=0.109.0
uvicorn~=0.26.0
httpx~=0.26.0

pytesseract~=0.3.10
easyocr~=1.7.1
pyzbar~=0.1.9
pillow~=10.2.0
opencv-python~=4.9.0.80
zxing~=1.0.1
numpy~=1.26.3
SQLAlchemy~=2.0.25
fitz~=0.0.1.dev2
APScheduler~=3.10.4
watchdog~=3.0.0