<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dados da Nota Fiscal</title>
</head>
<body>
    <h1>Dados da Nota Fiscal</h1>
    <p><strong>Número do Protocolo:</strong> {{ dados_nfe['nProt'] }}</p>
    <p><strong>ID:</strong> {{ dados_nfe['Id'] }}</p>
    <p><strong>Emitente:</strong> {{ dados_nfe['emit']['xNome'] }}</p>
    <p><strong>Destinatário:</strong> {{ dados_nfe['dest']['xNome'] }}</p>
</body>
</html>
